.amarelo {
    background-color: yellow;
    margin: 10px;
    padding: 10px;
}

.azul {
    background-color: blue;
    margin: 10px;
    padding: 10px;
    width: 120px;
    height: 120px;
}

.flex {
    display: flex;
}


.extender{
    background-color: red;
    padding-right: 43%;
}

.extenderDown{
    padding-bottom: 62%;
}